// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
body > header {
  @media only screen and (min-width : 801px) {
    background: white url(/images/header.jpg) center no-repeat;
  }
}

.accent1 {
  color: lighten($accentGrey, 10);
}

.accent3 {
  color: darken($accentGreen, 10);
}
